## Ignore Umbraco files/folders generated for each instance
## Get latest from https://github.com/github/gitignore/blob/master/Umbraco.gitignore
# Note: VisualStudio gitignore rules may also be relevant
/.vs
/uCookieConsent.Plugin/obj
/uCookieConsent.Plugin/bin
/uCookieConsent.Web/obj
/uCookieConsent.Web/bin
/uCookieConsent.Web/App_Data
/uCookieConsent.Web/Config
/uCookieConsent.Web/Umbraco

/packages


